battle/graphic/batt_obj.narc/
battle/graphic/pl_batt_obj.narc/
contest/graphic/contest_bg.narc/
contest/graphic/contest_obj.narc/
data/namein.narc/
data/slot.narc/
graphic/bag_gra.narc/
graphic/box.narc/
graphic/mystery.narc/
graphic/nutmixer.narc/
graphic/pl_bag_gra.narc/
graphic/pl_pst_gra.narc/
graphic/pst_gra.narc/
graphic/touch_subwindow.narc/
graphic/trainer_case.narc/
graphic/zukan.narc/
