# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Visual Studio
.vs

# Visual Studio Code
.vscode
*.code-workspace

# Bundler
.bundle/
vendor/

# Npm
node_modules/

# Ossutil
ossutil64

# Draft
Debug/
Codes/

# Other
*.nds
*.lnk
dist/