{{ include.blank }}<figure{% if include.class %} class="{{ include.class }}"{% endif %}>{% if include.link %}<a href="{{ include.link | relative_url }}">{% endif %}
{{ include.blank }}  {% include image.html class="figure-image" src=include.src alt=include.alt width=include.width height=include.height %}{% if include.alt %}
{{ include.blank }}  <figcaption class="caption-figure" id="figure-{% assign src_array = include.src | split: "/" %}{{ src_array.last}}">{{ include.alt }}</figcaption>{% endif %}
{{ include.blank }}{% if include.link %}</a>{% endif %}</figure>