    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="keywords" content="宝可梦,精灵宝可梦,第四世代,汉化修正"/>
    <meta name="referrer" content="same-origin"/>
    <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}"/>
    <link rel="apple-touch-icon" href="{{ "/assets/images/favicon.ico" | relative_url }}"/>
    <meta name="theme-color" content="#0073ff"/>
    <title>{% if page.title and page.title != "" %}{{ page.title }} - {% endif %}{{ site.name }}</title>
    <!-- jquery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" crossorigin="anonymous"></script>
    <!-- //jquery -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ "/assets/css/base.css" | relative_url }}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- //bootstrap -->