name: Build

on:
  workflow_call:
    inputs:
      publish:
        required: true
        type: boolean

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  compile-binaries:
    runs-on: ubuntu-latest
    container:
      image: xzonn/devkitarm:latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Merge messages
        run: |
          python scripts/merge_messages.py
        env:
          PYTHONUTF8: 1
      - name: Diamond and Pearl
        continue-on-error: true
        run: |
          dotnet-script scripts/DP.csx
        env:
          XZ_PATCH_VERSION: "${{ github.sha }}"
      - name: Platinum
        continue-on-error: true
        run: |
          dotnet-script scripts/Pt.csx
        env:
          XZ_PATCH_VERSION: "${{ github.sha }}"
      - name: Heart Gold and Soul Silver
        continue-on-error: true
        run: |
          dotnet-script scripts/HGSS.csx
        env:
          XZ_PATCH_VERSION: "${{ github.sha }}"
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          if-no-files-found: error
          retention-days: 1
          path: |
            out/

  full-build:
    needs: compile-binaries
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - uses: actions/download-artifact@v4
        with:
          name: binaries
          path: out
      - name: Get tools commit id
        id: get-tools-commit-id
        run: |
          Push-Location tools/
          Write-Output "id=$(git rev-parse HEAD)" >> $env:GITHUB_OUTPUT
          Pop-Location
      - name: Cache tools
        id: cache-tools
        uses: actions/cache@v4
        with:
          path: tools/PCTRTools/bin/Release/
          key: tools-${{ steps.get-tools-commit-id.outputs.id }}
      - uses: microsoft/setup-msbuild@v2
        if: ${{ steps.cache-tools.outputs.cache-hit != 'true' }}
      - name: Build tools
        if: ${{ steps.cache-tools.outputs.cache-hit != 'true' }}
        run: |
          Push-Location tools/
          nuget restore
          msbuild /p:Configuration=Release /p:TargetFramework=net48 /verbosity:minimal
          Pop-Location
      - name: Commit Information
        id: commit
        run: |
          echo "commit_message=$(git log -1 --pretty=%s)" >> $env:GITHUB_OUTPUT
      - name: Configure dotnet script
        run: |
          Try
          {
            if (dotnet-script -h) {}
          }
          Catch
          {
            dotnet tool install -g dotnet-script
          }
      - name: Merge messages
        run: |
          python scripts/merge_messages.py
        env:
          PYTHONUTF8: 1
      - name: Diamond and Pearl
        continue-on-error: true
        run: |
          scripts/DP.ps1
        env:
          XZ_PATCH_VERSION: "${{ github.sha }}"
      - name: Platinum
        continue-on-error: true
        run: |
          scripts/Pt.ps1
        env:
          XZ_PATCH_VERSION: "${{ github.sha }}"
      - name: Heart Gold and Soul Silver
        continue-on-error: true
        run: |
          scripts/HGSS.ps1
        env:
          XZ_PATCH_VERSION: "${{ github.sha }}"
      - name: Upload artifacts
        if: ${{ !inputs.publish }}
        uses: actions/upload-artifact@v4
        with:
          name: Patch
          path: |
            out/Patch-*.xzp
            out/Aikotoba-*.txt
      - name: GitHub Release
        if: ${{ inputs.publish }}
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "out/Patch-*.xzp,out/Aikotoba-*.txt"
          body: |
            本页面下方的链接为自动构建并发布的开发版本补丁。**此版本补丁可能存在较多问题，仅供测试使用。**

            开发版本补丁的原始 ROM 均为日本版，md5 校验码如下：

            - [《钻石》](https://datomatic.no-intro.org/index.php?page=show_record&s=28&n=6641)：`c1d66b8d4fbdbfa57ff4868970fe19d2`
            - [《珍珠》](https://datomatic.no-intro.org/index.php?page=show_record&s=28&n=4929)：`751d4a0524e4ef38b153ccfb5d21271f`
            - [《白金》](https://datomatic.no-intro.org/index.php?page=show_record&s=28&n=2641)：`8271f64f5c7fb299adf937a8be6d8c88`
            - [《心金》](https://datomatic.no-intro.org/index.php?page=show_record&s=28&n=4168)：`e3f7933aee8cc2694629293f16c1c0a8`
            - [《魂银》](https://datomatic.no-intro.org/index.php?page=show_record&s=28&n=4169)：`a1211b2d44e551197712177e3d50b491`

            请访问 [此处](https://github.com/Xzonn/NitroPatcher/releases/latest/) 获取补丁应用工具。
          name: "${{ steps.commit.outputs.commit_message }}"
          prerelease: true
          tag: dev-pub
          token: ${{ secrets.GITHUB_TOKEN }}
